<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

    <header>
    	<p><img src="/images/LCS-logos/LCS-RGB-transparent.png" alt="London Computational Solutions" style="max-width:100%"/></p>
	</header>
	<h2> <strong> high performance simulation and <br /> aerodynamic/fluid design consultancy </strong> </h2>
    <footer>
        <ul class="buttons vertical">
            <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
        </ul>
    </footer>

    </div>

</section>
