<header id="header">
		<a href="/"><span> <img class="image featured" src="/images/LCS-logos/LCS_FAST_header.png" alt="London Computational Solutions" style="max-width:24%"/> </span>  </a> 
	<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
    <li class="submenu"><a href="#">Menu</a>
        <ul>
        <li><a href="/rp1upgrade">A tonne of Rp1 downforce </a></li>
        <li><a href="/sc16">Read about our SC16 trip </a></li>
        <li><a href="/fifth_order">5th order car simulation</a></li>
        <li><a href="/high_order">High order CFD</a></li>
        <li><a href="/elemental">The aerodynamics of the RP1</a></li>
<!--        <li><a href="/adaptive">Efficient adaptive mesh</a></li> -->
        <li><a href="/glider">Glider cockpit bleed</a></li>
<!--        </ul>
	<li class="submenu"><a href="#">About us</a>
        <ul> -->
        <li><a href="/the_team">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/twitter">Twitter feed</a></li>
        </ul>
 	<li><a href="mailto:info@lcs-fast.com?Subject=[LCS-query]%20your%20subject" class="button special" target="_top">Email us</a></li>
	</ul>
	</nav>
</header>
